* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

#game {
  background-color: lightblue;
  margin: 0 auto;
  border-radius: 10px;
}
